{% extends 'base.html' %}


{% block nav %}
<p>bla</p>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-signin" action="." method="POST">{% csrf_token %}
      {{ form.errors}}
      <h2 class="form-signin-heading">Postavka lozinke</h2>
      <label for="{{ form.new_password1.id_for_label }}" class="sr-only">Lozinka</label>
      {{ form.new_password1 }}
      <label for="{{ form.new_password2.id_for_label }}" class="sr-only">Ponovi lozinku</label>
      {{ form.new_password2 }}
      <br>
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Pošalji">
    </form>
  </div>


</div>

{% endblock %}