{% extends 'base.html' %}

{% load i18n %}

{% block nav %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-signin" action="." method="POST">{% csrf_token %}
      {{ form.errors}}
      <h2 class="form-signin-heading">{% trans 'Postavka lozinke' %}</h2>
      <label for="{{ form.new_password1.id_for_label }}" class="sr-only">{{ form.new_password1.label }}</label>
      {{ form.new_password1 }}
      <label for="{{ form.new_password2.id_for_label }}" class="sr-only">{{ form.new_password2.label }}</label>
      {{ form.new_password2 }}
      <br>
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans' Pošalji' %}">
    </form>
  </div>


</div>

{% endblock %}