{% extends 'base.html' %}


{% block nav %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-signin" action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
      {{ form.errors}}
      <h2 class="form-signin-heading">Reset lozinke</h2>
      <label for="{{ form.email.id_for_label }}" class="sr-only">Email adresa (korisničko ime)</label>
      {{ form.email }}
      <br>
      <br>
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Pošalji">
    </form>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}