{% include 'base.html' %}


{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">rExe</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'home' %}">Rezultati <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Nova obrada</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!--<h1 class="page-header">Dashboard</h1>-->

      <!--<div class="row placeholders">-->
        <!--<div class="col-xs-6 col-sm-3 placeholder">-->
          <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
          <!--<h4>Label</h4>-->
          <!--<span class="text-muted">Something else</span>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-sm-3 placeholder">-->
          <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
          <!--<h4>Label</h4>-->
          <!--<span class="text-muted">Something else</span>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-sm-3 placeholder">-->
          <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
          <!--<h4>Label</h4>-->
          <!--<span class="text-muted">Something else</span>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-sm-3 placeholder">-->
          <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
          <!--<h4>Label</h4>-->
          <!--<span class="text-muted">Something else</span>-->
        <!--</div>-->
      <!--</div>-->

      <h2 class="sub-header">Rezultati posljednjih obrada</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Ulazni podaci</th>
              <th>Izlazni podaci</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          {% for item in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.input_data }}</td>
              <td>{{ item.output_data }}</td>
              <td><span class="label label-success">{{ item.status }}</span></td>
            </tr>
          {% empty %}
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}