{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
  <div class="row">

    {% include 'layout/sidebar.html' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">Rezultati posljednjih obrada</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          {% if object_list %}
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Algoritam</th>
              <!--<th>Ulazni podaci</th>-->
              <!--<th>Izlazni podaci</th>-->
              <th>Početak</th>
              <th>Završetak</th>
              <th>Status</th>
            </tr>
          {% else %}
            <tr>Još nema obrada, pokrenite obradu klikom na "Nova obrada".</tr>
          {% endif %}
          </thead>
          <tbody>
          {% for item in object_list %}

            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'iteration' item.id %}">{{ item.id }}</a></td>
              <td><a href="{{ item.algorithm.file.url }}">{{ item.algorithm }}</a></td>
              <!--<td><a href="{{ item.input_data.url }}">{{ item.input_data }}</a></td>-->
              <!--<td>{% if item.output_data %}<a href="{{ item.output_data.url }}">{{ item.output_data }}</a>{% endif %}</td>-->
              <td>{{ item.created|date:"d.m.Y. H:i" }}</td>
              <td>{{ item.finished|date:"d.m.Y. H:i" }}</td>
              {% if item.started %}
                <td><span class="label label-warning">{{ item.get_status_code_display|upper }}</span></td>
              {% elif item.failed %}
                <td><span class="label label-danger">{{ item.get_status_code_display|upper }}</span></td>
              {% elif item.successful %}
                <td><span class="label label-success">{{ item.get_status_code_display|upper }}</span></td>
              {% endif %}
            </tr>

          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}