{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
  <div class="row">

    {% include 'layout/sidebar.html' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">Rezultati obrade</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Ulazni podaci</th>
              <th>Izlazni podaci</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          {% for item in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'iteration' item.id %}">{{ item.id }}</a></td>
              <td>{{ item.input_data }}</td>
              <td>{{ item.output_data }}</td>
              <td><span class="label label-success">{{ item.status }}</span></td>
            </tr>
          {% empty %}
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}