{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
  <div class="row">

    {% include 'layout/sidebar.html' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">Rezultati obrade</h2>
      <div class="table-responsive">
        <h3>Odabrani algoritam: <strong>{{ object.algorithm }}</strong></h3>
        {% if object.algorith.description %}
          <h3>Opis algoritma:</h3>
          <p>{{ object.algorithm.description }}</p>
        {% endif %}
        <h3>Vrijeme početka izvršavanja: <strong>{{ object.created|date:"d.m.Y. H:i" }}</strong></h3>
        {% if object.failed or object.successful %}
          <h3>Vrijeme završetka izvršavanja: <strong>{{ object.finished|date:"d.m.Y. H:i" }}</strong></h3>
        {% endif %}
        <h3>Status obrade: <strong>{{ object.get_status_code_display|upper }}</strong></h3>

        <div class="col-md-6">
          <h3>Ulazni podaci:</h3>
          <a href="{{ object.input_data.url }}">{{ object.input_data }}</a>
        </div>
        <div class="col-md-6">
          <h3>Izlazni podaci:</h3>
          {% if object.output_data %}
          <a href="{{ object.output_data.url }}">{{ object.output_data }}</a>
          {% else %}
          <p>Još nisu generirani.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}