Django==1.11.3
django-extensions==1.8.1
django-redis==4.8.0
psycopg2==2.7.1
pytz==2017.2

# Custom libraries
-e git+https://github.com/bvujicic/yml-to-env.git#egg=yml-to-env
-e git+https://github.com/bvujicic/django-utils.git#egg=django-utils

gunicorn
celery
