Django==1.11.3
django-extensions==1.8.1
django-ipware==1.1.6
django-redis==4.8.0
django-rosetta==0.7.13
flower==0.9.2
ipython==6.1.0
Pillow==4.2.1
psycopg2==2.7.1
pytz==2017.2
SQLAlchemy==1.1.13

# Custom libraries
-e git+https://github.com/bvujicic/yml-to-env.git#egg=yml-to-env
-e git+https://github.com/bvujicic/django-utils.git#egg=django-utils

gunicorn
celery
